.Category {
    flex: 1;
    width: 100%;
    min-width: 150px;
    display: flex;
}

.Category:hover > .Category-Action {
    visibility: visible;
}

.CategorySelector {
    width: 300px;
    flex-direction: column;
}

.Category-LeftSpacer {
    width: 20px;
}

.Category-Name {
    flex: 1;
    text-align: left;
}

.Category-Name > span {
    margin-right: 4px;
}

.Category-Name:hover {
    cursor: pointer;
}

.Category-Name:hover > span {
    color: Dodgerblue;
}

.Category-Action {
    visibility: hidden;
    margin-right: 4px;
}

.Category-Action:hover {
    color: Dodgerblue;
}

.Category-Button {
    width: 20px;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
}

.CategoryList {
    flex: 1;
}

.CategorySelector-Header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 8px;
}

.CategorySelector-Create {
    height: 32px;
    border: none;
    border-radius: 3px;
    font-family: 'Roboto';
    font-size: 14px;
    line-height: 24px;
    color: white;
    background-color: green;
    cursor: pointer;
}
.CategorySelector-Create > span {
    margin-right: 4px;
}
