.ProductItem {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.ProductItem-Content {
    display: flex;
    flex-direction: column;
}

.ProductItem-Category > * {
    margin: 4px;
}
